@import "@/mixins.scss";

button.button {
  @include button;
  &:not(:disabled):hover {
    outline: solid 3px var(--fg);
  }
  &:disabled {
    background-color: var(--color-light-grey);
    color: var(--color-grey);
    cursor: initial;
    user-select: none;
  }
  &.secondary {
    background-color: var(--fg);
    color: var(--bg);
    &:disabled {
      background-color: var(--color-light-grey);
      color: var(--color-grey);
      cursor: initial;
      user-select: none;
    }
    &:not(:disabled):hover {
      outline-offset: 1px;
    }
  }
  &.selected {
    outline: solid 3px var(--fg);
  }
  &.has-background-color {
    color: var(--bg);
    &:not(:disabled):hover {
      outline: solid 3px var(--bg);
    }
    &.color-a8a77a {
      // NORMAL
      &:not(:disabled):hover {
        outline: solid 3px rgba(168, 167, 122, 0.7);
      }
    }
    &.color-d43d35 {
      // FIRE
      &:not(:disabled):hover {
        outline: solid 3px rgba(212, 61, 53, 0.7);
      }
    }
    &.color-437ee7 {
      // WATER
      &:not(:disabled):hover {
        outline: solid 3px rgba(67, 126, 231, 0.7);
      }
    }
    &.color-f7d02c {
      // ELECTRIC
      &:not(:disabled):hover {
        outline: solid 3px rgba(247, 208, 44, 0.7);
      }
    }
    &.color-5b9f3d {
      // GRASS
      &:not(:disabled):hover {
        outline: solid 3px rgba(91, 159, 61, 0.7);
      }
    }
    &.color-96d9d6 {
      // ICE
      &:not(:disabled):hover {
        outline: solid 3px rgba(150, 217, 214, 0.7);
      }
    }
    &.color-ef8733 {
      // FIGHTING
      &:not(:disabled):hover {
        outline: solid 3px rgba(239, 135, 51, 0.7);
      }
    }
    &.color-a33ea1 {
      // POISON
      &:not(:disabled):hover {
        outline: solid 3px rgba(163, 62, 161, 0.7);
      }
    }
    &.color-e2bf65 {
      // GROUND
      &:not(:disabled):hover {
        outline: solid 3px rgba(226, 191, 101, 0.7);
      }
    }
    &.color-a98ff3 {
      // FLYING
      &:not(:disabled):hover {
        outline: solid 3px rgba(169, 143, 243, 0.7);
      }
    }
    &.color-f95587 {
      // PSYCHIC
      &:not(:disabled):hover {
        outline: solid 3px rgba(249, 85, 135, 0.7);
      }
    }
    &.color-a6b91a {
      // BUG
      &:not(:disabled):hover {
        outline: solid 3px rgba(166, 185, 26, 0.7);
      }
    }
    &.color-b6a136 {
      // ROCK
      &:not(:disabled):hover {
        outline: solid 3px rgba(182, 161, 54, 0.7);
      }
    }
    &.color-735797 {
      // GHOST
      &:not(:disabled):hover {
        outline: solid 3px rgba(115, 87, 151, 0.7);
      }
    }
    &.color-6f35fc {
      // DRAGON
      &:not(:disabled):hover {
        outline: solid 3px rgba(111, 53, 252, 0.7);
      }
    }
    &.color-705746 {
      // DARK
      &:not(:disabled):hover {
        outline: solid 3px rgba(112, 87, 70, 0.7);
      }
    }
    &.color-b7b7ce {
      // STEEL
      &:not(:disabled):hover {
        outline: solid 3px rgba(183, 183, 206, 0.7);
      }
    }
    &.color-d685ad {
      // FAIRY
      &:not(:disabled):hover {
        outline: solid 3px rgba(214, 133, 173, 0.7);
      }
    }
  }
  &.shrink {
    max-width: 54px;
    overflow: hidden;
    color: transparent;
    user-select: none;
    &:not(:disabled):hover {
      max-width: 100vw;
      color: var(--bg);
    }
  }
  > svg:global(.svg-inline--fa) {
    margin-right: 8px;
  }
}
