header.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  > div.header-container {
    display: flex;
    width: 100%;
    > div.timer-user-menu-container {
      display: flex;
      align-items: center;
      gap: 10px;
      > button.user-menu-open-button {
        padding: 0;
        display: flex;
        transition: transform 0.7s ease-in-out;
        > img {
          height: 40px;
          width: 40px;
        }
        &:hover {
          transform: rotate(750deg);
        }
      }
    }
  }

  > div.prompt-and-buttons-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
}
