div.name-container {
    position: absolute;
    top: 24px;
    left: 24px;
    padding-bottom: 0;
    &.position-relative {
        position: relative;
        top: unset;
        left: unset;
        > h2.avatar-name {
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
        }
    }
    &.align-center {
        text-align: center;
    }
    &.fontSizeXl {
        > h2.avatar-name {
            font-size: var(--font-size-xlarge);
        }
    }
    > h2.avatar-name {
        font-size: var(--font-size-xxlarge);
        color: var(--fg);
        margin-block: 0;
    }
}
